body {
    font-family: Arial, sans-serif;
    background-color: #ef6767;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bf3030;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e72020;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e72020;
}

.cancel-button {
    background-color: #6e0e17;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.cancel-button a {
    color: white;
    text-decoration: none;
    display: block;
}

.cancel-button:hover {
    background-color: #f31d1d;
}

.card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }